@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&display=swap');

  .game{
    width: 223px;
    text-align: center;
    font-family: 'Alexandria', sans-serif;
    color: #fff;
    margin: auto;
    font-weight: 500;
}
.title{
    background-color: #22668D;
    padding: 5px 0;
    margin: 5px 0;
    border-radius: 3px;
}
span{
    color: #E5D283;
}
.squar{
    width: 70px;
    height: 70px;
    background-color: #22668D;
    float: left;
    margin: 2px ;
    border-radius: 3px;
    font-size: 50px;
    transition:background-color 0.2s ease-in-out ;
}
.squar:hover{
    background-color: #E5D283;
}
button {
    z-index: 1;
    position: relative;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color:#22668D;
  }
  
  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E5D283;
    transform-origin: center bottom;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:hover::before {
    transform-origin: center top;
    transform: scaleY(1);
    border-radius: 3px;

  }
  